grant codeBase "file:bin/*" {
	permission java.util.PropertyPermission "javax.net.ssl.keyStore", "read, write";
	permission java.util.PropertyPermission "javax.net.ssl.keyStorePassword", "read, write";
	permission java.util.PropertyPermission "javax.net.ssl.trustStore", "read, write";
	permission java.util.PropertyPermission "javax.net.ssl.trustStorePassword", "read, write";
	permission java.net.SocketPermission "*:23456", "listen";
	permission java.net.SocketPermission "*:1024-", "accept";
	permission java.io.FilePermission "${user.home}/git/SC/Trabalho2/server/-", "read, write, delete";
	permission java.lang.RuntimePermission "getProtectionDomain";
};